@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  border-bottom:2px solid grey;
}



.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
 padding: 10px;
}

.image {
  width: 60px;
}

.footer {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: gray;
  height: 50px;
  margin-top: 5rem;
}